@import "variables";
@import "mixins";

.excel__toolbar{
  position: absolute;
  height: $toolbarHeight;
  top: $header-height;
  left: 0;
  right: 0;
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
  padding: 7px 10px;
  display: flex;

  & .btn{
    @include button()
  }
}
